In [22]:
import MySQLdb

# Database connection parameters
host = "localhost"
user = "slurm"
password = "slurm"
database = "slurmdb_micro3"

# Establish a connection to the database
conn = MySQLdb.connect(host=host, user=user, passwd=password, db=database)

# Create a cursor object
cursor = conn.cursor()

# Execute 'SHOW TABLES' command
cursor.execute("SHOW TABLES")

# Fetch all the table names
tables = cursor.fetchall()

# Print each table name
for table_name in tables:
    print(table_name[0])

acct_coord_table
acct_table
clus_res_table
cluster_table
convert_version_table
federation_table
micro_assoc_table
micro_assoc_usage_day_table
micro_assoc_usage_hour_table
micro_assoc_usage_month_table
micro_event_table
micro_job_table
micro_last_ran_table
micro_resv_table
micro_step_table
micro_suspend_table
micro_usage_day_table
micro_usage_hour_table
micro_usage_month_table
micro_wckey_table
micro_wckey_usage_day_table
micro_wckey_usage_hour_table
micro_wckey_usage_month_table
qos_table
res_table
table_defs_table
tres_table
txn_table
user_table

In [23]:
# Execute a SELECT query
cursor.execute("SELECT * FROM micro_job_table")
tables = cursor.fetchall()
tables

((1,
  1711635786,
  0,
  'account1',
  None,
  None,
  0,
  0,
  None,
  None,
  None,
  1,
  0,
  None,
  None,
  256,
  8,
  'test_job',
  7,
  0,
  4294967294,
  None,
  1001,
  1,
  0,
  0,
  10001,
  100,
  0,
  4294967294,
  -1,
  24,
  None,
  9223372036854778608,
  'n1',
  1,
  '0',
  'normal',
  1077083,
  5,
  1,
  1711635785,
  1711635785,
  1711635786,
  1711635786,
  0,
  '',
  '',
  '/opt/server',
  'sbatch tasks/task.sh',
  None,
  0,
  '1=1,2=2800,3=18446744073709551614,4=1,5=1',
  '1=1,2=2800,4=1,5=1'),
 (3,
  1711635796,
  0,
  'account1',
  None,
  None,
  0,
  0,
  None,
  None,
  None,
  1,
  0,
  None,
  None,
  256,
  4,
  'test_job',
  8,
  0,
  4294967294,
  None,
  1002,
  1,
  0,
  0,
  10002,
  100,
  0,
  4294967294,
  -1,
  0,
  None,
  9223372036854778608,
  'n1',
  1,
  '0',
  'normal',
  1077083,
  5,
  1,
  1711635795,
  1711635795,
  1711635796,
  1711635796,
  0,
  '',
  '',
  '/opt/server',
  'sbatch tasks/task.sh',
  None,
  0,
  '1=1,2=2800,3=18446744073709551614,4=1,5=1',
  '1=1,2=2800,4=1,5=1'),
 (5,
  1711635806,
  0,
  'account1',
  None,
  None,
  0,
  0,
  None,
  None,
  None,
  1,
  0,
  None,
  None,
  256,
  4,
  'test_job',
  9,
  0,
  4294967294,
  None,
  1003,
  1,
  0,
  0,
  10003,
  100,
  0,
  4294967294,
  -1,
  0,
  None,
  9223372036854778608,
  'n1',
  1,
  '0',
  'normal',
  1077083,
  5,
  1,
  1711635805,
  1711635805,
  1711635805,
  1711635805,
  0,
  '',
  '',
  '/opt/server',
  'sbatch tasks/task.sh',
  None,
  0,
  '1=1,2=2800,3=18446744073709551614,4=1,5=1',
  '1=1,2=2800,4=1,5=1'))

In [24]:
cursor.close()
conn.close()

In [25]:
# pip install mysql-connector-python

In [26]:
import mysql.connector

# Establish a connection to the MySQL server
dataBase = mysql.connector.connect(
    host = "localhost",
    user = "slurm",
    password = "slurm",
    database = "slurmdb_micro3"
)

# Prepare a cursor object
cursorObject = dataBase.cursor()

SyntaxError: future feature annotations is not defined (abstracts.py, line 33)

In [21]:
!pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/lib/python3.6/site-packages (21.3.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [28]:
!python3 --version

Python 3.6.8

In [29]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)