In [32]:
import pymysql
import pandas as pd

# Database connection parameters
host = "localhost"
user = "slurm"
password = "slurm"
database = "slurmdb_micro3"

In [33]:
conn = pymysql.connect(host=host, user=user, passwd=password, db=database)
cursor = conn.cursor()

In [46]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
for table_name in tables:
    print(table_name)

('acct_coord_table',)
('acct_table',)
('clus_res_table',)
('cluster_table',)
('convert_version_table',)
('federation_table',)
('micro_assoc_table',)
('micro_assoc_usage_day_table',)
('micro_assoc_usage_hour_table',)
('micro_assoc_usage_month_table',)
('micro_event_table',)
('micro_job_table',)
('micro_last_ran_table',)
('micro_resv_table',)
('micro_step_table',)
('micro_suspend_table',)
('micro_usage_day_table',)
('micro_usage_hour_table',)
('micro_usage_month_table',)
('micro_wckey_table',)
('micro_wckey_usage_day_table',)
('micro_wckey_usage_hour_table',)
('micro_wckey_usage_month_table',)
('qos_table',)
('res_table',)
('table_defs_table',)
('tres_table',)
('txn_table',)
('user_table',)

In [47]:
cursor.close()
# conn.close()

In [55]:
def read_table(connector, table, columns, verbose=False):
    cursor = connector.cursor()
    if verbose:
        print("SELECT {} FROM {}".format(','.join(columns), table))
    cursor.execute("SELECT {} FROM {}".format(','.join(columns), table))
    rows = cursor.fetchall()
    df = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
    cursor.close()
    return df

In [79]:
read_table(conn, "micro_job_table", ['*'], verbose=True)

SELECT * FROM micro_job_table

,job_db_inx,mod_time,deleted,account,admin_comment,array_task_str,array_max_tasks,array_task_pending,batch_script,constraints,...,time_end,time_suspended,gres_used,wckey,work_dir,submit_line,system_comment,track_steps,tres_alloc,tres_req
0,1,1712410450,0,account1,None,None,0,0,None,None,...,1712410450,0,,,/root/tasks,sbatch job_1.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
1,2,1712410450,0,account1,None,None,0,0,None,None,...,1712410450,0,,,/root/tasks,sbatch job_2.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
2,5,1712410576,0,root,None,None,0,0,None,None,...,1712410574,0,,,/root/tasks,sbatch sleep.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
3,7,1712410651,0,account1,None,None,0,0,None,None,...,1712410648,0,,,/root/tasks,sbatch job_1.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
4,8,1712410651,0,account1,None,None,0,0,None,None,...,1712410648,0,,,/root/tasks,sbatch job_2.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,546,1712411481,0,account1,None,None,0,0,None,None,...,1712411481,0,,,/root/tasks,sbatch job_1_99.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
509,547,1712411465,0,account1,None,None,0,0,None,None,...,1712411465,0,,,/root/tasks,sbatch job_2_99.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
510,548,1712411455,0,account1,None,None,0,0,None,None,...,1712411455,0,,,/root/tasks,sbatch job_3_99.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
511,549,1712411423,0,account2,None,None,0,0,None,None,...,1712411423,0,,,/root/tasks,sbatch job_4_99.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"
512,550,1712411437,0,account2,None,None,0,0,None,None,...,1712411437,0,,,/root/tasks,sbatch job_5_99.sh,None,0,"1=2,2=5600,3=18446744073709551614,4=1,5=2","1=2,2=5600,4=1,5=2"

In [ ]:
conn.close()